<h2><b>Master Duel でのサービスは終了しました</b></h2>
<br>
<p>突然の終了で申し訳ありません。</p>
<p>Master Duelにおける本サイトの利用はわずかであり、費用や手間に見合わないことが終了の理由となります。</p>
<p>今までのご利用ありがとうございました。</p>
<p>過去DCのデータを閲覧することは引き続き可能です。</p>

<script>
  // 絞り込みを非表示
  document.getElementById("searchButton").setAttribute("disabled", true);
</script>