<h1 class="display-4 text-primary">Form</h1>
<p>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">自分のデッキ</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>ES召喚獣</option>
      <option>不知火</option>
      <option>水晶機巧</option>
      <option>サイバー・ドラゴン</option>
      <option>HERO</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">自分のスキル</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>ディスティニー・ドロー</option>
      <option>墓所封印</option>
      <option>現世復帰の制約</option>
      <option>粉砕！</option>
      <option>絆の力</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">相手のデッキ</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>ES召喚獣</option>
      <option>不知火</option>
      <option>水晶機巧</option>
      <option>サイバー・ドラゴン</option>
      <option>HERO</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">相手のスキル</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>ディスティニー・ドロー</option>
      <option>墓所封印</option>
      <option>現世復帰の制約</option>
      <option>粉砕！</option>
      <option>絆の力</option>
    </select>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">自分のデッキ、スキルを記録する</label>
  </div>
  <button type="submit" class="btn btn-primary">送信する</button>
</form>
</p>
<div><%=link_to 'myanalysis&gt;&gt;'.html_safe, {action: 'myanalysis'} %></div>
<div><%=link_to 'totalanalysis&gt;&gt;'.html_safe, {action: 'totalanalysis'} %></div>