<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">D-Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./form">記録</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./myanalysis">個人分析</a>
        <li class="nav-item">
            <a class="nav-link" href="./totalanalysis">全体分析</a>
        </ul>
    </div>
</nav>

<h2><font color="black">対戦記録が送信されました</font></h2>
<p><div><%=link_to 'もとのページへ戻る&gt;&gt;'.html_safe, {action: 'form'} %></div></p>