version: '3'
services:
  app:
    build:
      context: .
    env_file:
      - ./environments/db.dev.env
      - ./environments/app.dev.env
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/webapp
      - public-data:/webapp/public
      - tmp-data:/webapp/tmp
      - log-data:/webapp/log
    depends_on:
      - db
  db:
    image: mysql:5.7
    # 文字コードをutf-8に指定
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    env_file:
      - ./environments/db.dev.env
    volumes:
      - db-data:/var/lib/mysql
  web:
    build:
      context: containers/nginx
    volumes:
      - public-data:/webapp/public
      - tmp-data:/webapp/tmp
    ports:
      - 80:80
    depends_on:
      - app
volumes:
  public-data:
  tmp-data:
  log-data:
  db-data: