<h1>Export</h1><br>

<p><a href="/admin/export/accounts.csv" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> ユーザーデータをダウンロード</a></p>
<p><a href="/admin/export/matches.csv" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 対戦データをダウンロード</a></p>